aiohttp
aiosignal
async-timeout
attrs
audioread
av
bidict
certifi
cffi
charset-normalizer
click
colorama
decorator
einops
ffmpeg
filelock
Flask
Flask-socketio
frozenlist
huggingface-hub
idna
imageio
imageio-ffmpeg
inflect
itsdangerous
Jinja2
joblib
lazy_loader
librosa
MarkupSafe
msgpack
multidict
numba
numpy
openai
packaging
Pillow
platformdirs
pooch
progressbar
psutil
pydantic
python-dotenv
python-engineio
python-socketio
PyYAML
regex
requests
rotary-embedding-torch
scikit-learn
scipy
soundfile
soxr
tokenizers
torch
TorToiSe
tqdm
transformers
typing_extensions
Unidecode
urllib3
Werkzeug
yarl
