<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">


<body>
<div id='bodybox'>
    <div id='chatboarder'>

        <!-- this is the chat log -->
        <div id="chatlog">
        </div>

        <!-- this is the chat box your type in -->
        <input type="text" name="chat" id="chatbox" placeholder= "Hi there! Type here to talk to me.">
        <button type="button" id="chatbutton">Send</button>
        <div id="fontsize">
            <input type="range" min="20" max="100" value="20" class="slider" id="fontSlider">
        </div>
    </div>
</div>

<script>
    var socket = io.connect('http://127.0.0.1:5000');

    socket.on('connect', function() {
        socket.emit("User connected!");
            

        socket.on('message', function(msg) {
            //only clear the Chatbot is typing... message
            $('.bot-message').last().remove();
            $('#chatlog').append('<p class="bot-message">' + msg + '</p>'); // append the bot's message
        });
     
        $('#chatbox').on('keydown', function(event) { // when the user presses a key
            if (event.which === 13) { // if the user presses enter
                var message =$('#chatbox').val(); // get the user's message
                socket.emit('message', message); // pass the user's message to the server
                $('#chatbox').val('');   // clear the chatbox
                $('#chatlog').append('<p class="user-message">' + message + '</p>'); // append the user's message

                //chatbot loading the response
                $('#chatlog').append('<p class="bot-message">Chatbot is typing...</p>'); // append the bot's message

                // scroll to the bottom of the chat log
                $('#chatlog').scrollTop($('#chatlog')[0].scrollHeight);

            }
        });
        
        $('#chatbutton').on('click', function() { // when the user presses a key
            var message = $('#chatbox').val();// get the user's message
            $('#chatlog').append('<p class="user-message">' + message + '</p>'); // append the user's message
            socket.emit('message', message); // pass the user's message to the server
            $('#chatbox').val(''); // clear the chatbox

            //chatbot loading the response
            $('#chatlog').append('<p class="bot-message">Chatbot is typing...</p>'); // append the bot's message

            // scroll to the bottom of the chat log
            $('#chatlog').scrollTop($('#chatlog')[0].scrollHeight);

        });
    });

    //change font size
    // Add event listener to slider element
    $('#fontSlider').on('input', function() {
        // Retrieve new font size value from slider element
        var fontSize = $(this).val();
        // Set font size of chat log element to new font size value
        $('#chatlog').css('font-size', fontSize + 'px');
    });
</script>


</body>
</html>
